.pre-container-list{
  display: flex;
  justify-self: center;
  padding:3vw;
  background: #000;
  height: 50vh;
}
.pre-container-list th,.pre-container-list{
    color:#fff;
}
.container{
    width:100%;
    height: 100%;;
}
